<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png" href="https://images.ctfassets.net/qjy3jg1udcmq/6VzbVoVgKQmsiw04UWSKs/4bb1ad7020692ac5b6eac434ce7cc4ec/code-fellows-favicon.png" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body class="reset">
    <main>
      {{ content }}
    </main>
  </body>
</html>
